body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

header,
footer,
nav {
  grid-column: 1 / span 2;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
}

header,
nav,
main,
aside,
footer {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
